
.drowerTop {
    background-color: #33314A;
}

.sidebar {
    background-color: #33314A;
}

.navber {
    background-color: #22202E !important;
    border-bottom: 4px solid #413C50;
}

.body {
    background-color: #202024;
    /* background-color: red; */
    min-height: 800px;
    color: #C4CAD3;
}