.drowerTop {
  background-color: #33314a;
}

.sidebar {
  background-color: #33314a;
}

.navber {
  background-color: #22202e !important;
  border-bottom: 4px solid #413c50;
}

.body {
  background-color: #202024;
  min-height: 800px;
  color: #c4cad3;
}
