.link {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 5px 0 5px 15px;
}

.link:focus {
    background-color: lightgray;
    color: rgb(122, 7, 7);
}

.linkName {
    margin-left: 15px;
    font-size: 19px;
    margin-top: 4px;
}

.linkIcon {
    height: 30px !important;
    width: 30px !important;
}

.divider {
    background-color: white !important;
    margin: 10px 0 !important;
}